@font-face {
  font-family: "TT";
  src: url(/home/vladimir/react-page/src/assets/images/fonts/TT.ttf);
}

@media only screen and (max-width: 25rem) {
  .flex {
    width: 100%;
    flex-direction: column !important;
    margin-left: unset !important;
  }

  .time {
    margin-left: unset !important ;
  }
  .row {
    position: absolute;
    left: 13rem;
    height: 2.7rem !important;
  }
  .footer-logo {
    margin-left: 1rem !important;
  }
  .container-footer {
    margin-top: 5rem;
  }
  .footer-btn-filled {
    display: none !important;
  }
  .footer-right-2 {
    margin-left: -2rem;
  }
  .footer-right {
    font-size: 0.525rem !important;
  }
  .info-list {
    width: unset !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: center !important;
  }
  .item {
    font-weight: unset !important;
    flex-direction: unset !important;
    font-size: 14px !important;
    width: 11rem !important;
    margin: 0 !important;
    padding: 0 !important;
  }
}
.container-footer {
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: #fff;
  display: block;
}

.flex {
  padding-left: 1.5rem;
  width: 100%;
  max-width: 100em;
  margin-right: auto;
  margin-left: auto;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  z-index: 120;
}

.container-footer .flex {
  padding-left: 0;
}

.info-list {
  width: 50%;
  list-style: none;
  margin-top: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: visible;
  display: flex;
  z-index: 3;
  background: white;
}

.item {
  color: black;
  font-family: TT;
  margin-right: 1.5rem;
  padding-right: 1rem;
  width: 14rem;
  font-weight: bolder;
}

.footer-bar {
  float: right;
}

.footer-bar-item {
  display: flex;
  border: 1px solid #000;
  border-radius: 0.375em;
  width: 100%;
  align-items: center;
}

.bar-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 0.75em;
  margin-right: 1rem;
}

.bar-day {
  position: relative;
  display: inline-block;
  padding-right: 4rem;
  padding-left: 1.5em;
}

.arrow {
  position: relative;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 1rem;
  margin-right: 1rem;
}

.state {
  display: inline-block;
  margin-right: 1em;
  font-size: 0.85rem;
  color: #d86237;
  white-space: nowrap;
}
.state_sybl {
  content: "";
  display: inline-block;
  width: 0.6em;
  height: 0.6em;
  background: currentColor;
  bottom: 0.1em;
  margin-right: 0.5em;
  border-radius: 100%;
}

.state-text { 
  font-size: 0.8em;
  line-height: 1;
}

.row {
  width: 1px;
  height: 3rem;
  background: #000;
}

.time {
  font-size: small;
  margin-left: 4rem;
  margin-right: 4rem;
  white-space: nowrap;
}

.footer-bottom {
  display: flex;
  clear: both;
  padding-top: 6em;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-logo {
  width: 5.25em;
  height: auto;
  color: #24542c;
  margin-left: 5rem;
  font-size: 2em;
}

.footer-right {
  display: flex;
  flex-direction: column;
  -webkit-box-align: end;
  align-items: flex-end;
  margin-left: 3rem;
  font-size: 0.625em;
  color: #000;
  opacity: 0.5;
  flex-wrap: wrap;
}

.footer-btn {
  right: 200px;
  display: inline-flex;
  align-items: center;
  height: 2.5em;
  padding: 0 1rem;
  color: #2a5631;
  border: 1px solid currentColor;
  border-radius: 0.375em;
  box-shadow: 0 0 0.5em 0.2em rgb(0 0 0 / 5%);
  cursor: default;
  transition: all 0.3s ease-out;
}

.footer-btn-filled {
  display: flex;
  color: #fff;
  background-color: #2a5631;
  border-color: transparent;
}

.footer-btn__label {
  font-size: 0.75rem;
  display: block;
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
  white-space: nowrap;
}
