@font-face {
  font-family: "TT";
  src: url(/home/vladimir/react-page/src/assets/images/fonts/TT.ttf);
}

.nav-container ul {
  list-style: none;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container ul li {
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  align-self: center;
  cursor: pointer;
}

.nav-container {
  border-right: 2px solid #24542c;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: TT;
  
}

.l-i {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menus {
  right: 300px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #24542c;
  background-color: #ffffff;
  border: 1px solid currentColor;
  border-radius: 1em;
  cursor: default;
  height: 4em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  justify-content: center;
  align-self: center;
  cursor: pointer;
}

.instaIcon {
  width: 23px;
  height: 23px;
  align-self: center;
}

.o-icon {
  display: inline-block;
  vertical-align: middle;
}
