@font-face {
  font-family: "TT";
  src: url(/home/vladimir/react-page/src/assets/images/fonts/TT.ttf);
}

.nav-container ul {
  list-style: none;
  height: 93%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
}

.nav-container ul li {
  margin-top: 10rem;
  writing-mode: tb-rl;
  transform: rotate(-180deg);
  align-self: center;
  cursor: pointer;
}

.nav-container {
  /* border-right: 2px solid #24542c; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: TT;
  position: sticky;
  top:0
}
.nav-container::after {
  content: '';
  height: 93%;
  width: 2px;
  background: #24542c;
  margin-top: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}

.l-i {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 3rem;
  
}

.menus {
  right: 300px;
  display: inline-flex;
  align-items: center;
  color: #24542c;
  background-color: #ffffff;
  border: 2px solid currentColor;
  border-radius: 2em;
  cursor: default;
  height: 5em;
  padding-right: 0.4em;
  padding-left: 0.4em;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  margin-top: 5rem;
}

.instaIcon {
  width: 23px;
  height: 23px;
  align-self: center;
}

.o-icon {
  display: inline-block;
  vertical-align: middle;
}
